<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307393651331-8nuv9tb9gved9gh98qasf877sj3s8ai9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307393651331-8nuv9tb9gved9gh98qasf877sj3s8ai9</string>
	<key>API_KEY</key>
	<string>AIzaSyD1Z-iiyUGRSJEuzeyGdU26o1qKPhMPRco</string>
	<key>GCM_SENDER_ID</key>
	<string>307393651331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ghms.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-fab53</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-fab53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307393651331:ios:81a85fa3a0345d7ae4b1b6</string>
</dict>
</plist>